{% extends "shop/base.html" %}
{% load static %}

{% block title %}Оплатите свой заказ{% endblock %}
{% block content %}
<h1>Описание заказа</h1>

{% with order.items.all as order_items %}
{% include 'orders/includes/order_items.html' %}
{% endwith %}


<!--Форма создания сеанса оформления платежа Stripe-->
<div style="margin-top: 10px">
    <form action="{% url 'payment:process' %}" method="post">
        <input type="submit" value="Оплатить сейчас" class="btn btn-primary">
        {% csrf_token %}
    </form>
</div>
<!--Форма создания сеанса оформления платежа Stripe-->

{% endblock %}