<!-- Список товаров-->
{% extends "shop/base.html" %}
{% load static %}
{% block title %}
{% if category %}{{ category.name }}{% else %}Товары{% endif %}
{% endblock %}
{% block content %}

<div class="d-flex flex-column">
    <div class="container py-3">
        <h1>{% if category %}{{ category.name }}{% else %}Все товары{% endif %}</h1>
    </div>
    <div class="col">
        <div class="container">
            <div class="row row-cols-1 row-cols-md-6 g-4">
                {% for product in object_list %}
                <div class="col">
                    <div class="card h-100">
                        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title">{{ product.name }}</h6>
                            <p class="card-text">${{ product.price }}</p>
                            <a href="{{ product.get_absolute_url }}" class="btn btn-primary mb-0">Перейти</a>
                        </div>
                        <div class="card-footer bg-transparent border-primary">Осталось <span class="badge text-bg-primary">{{ product.quantity }}</span></div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>

    {% if page_obj.has_other_pages %}

    {% include 'includes/paginator.html' %}

    {% endif %}

    {% endblock %}